{% extends 'base.html' %}

{% block title %}Posts na Categoria: {{ category.name }}{% endblock %}

{% block content %}
    <h2>Posts da Categoria: {{ category.name }}</h2>
    <p>{{ category.description }}</p>

    <ul>
        {% for post in posts %}
            <li>
                <h3><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h3>
                <a href="{% url 'post_edit' post.pk %}">Editar</a>
                <a href="{% url 'post_delete' post.pk %}">Remover</a>
            </li>
        {% empty %}
            <li>Não há posts nesta categoria.</li>
        {% endfor %}
    </ul>
{% endblock %}