<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <p>{{ post.content|safe }}</p>

    <h2>Categorias:</h2>
    <ul>
        {% for category in post.categories.all %}
            <li><a href="{% url 'category_detail' category_id=category.id %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
    
    <h2>Comentários</h2>
    <ul>
        {% for comment in comments %}
            <li>
                <strong>{{ comment.author.username|default:"Anônimo" }}</strong> - {{ comment.created_at|date:"d/m/Y H:i" }}:
                <p>{{ comment.text }}</p>
            </li>
        {% empty %}
            <li>Não há comentários ainda.</li>
        {% endfor %}
    </ul>

    <h3>Adicionar um comentário</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Comentar</button>
    </form>

    <a href="{% url 'post_list' %}">Voltar para a lista de posts</a>
</body>
</html>
